nav {
  background: var(--secondary);
  color: white;
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

  .logo { font-size: 1.5rem; font-weight: bold; letter-spacing: -1px; }

  ul {
    display: flex;
    gap: 30px;
    list-style: none;
    
    li {
      opacity: 0.8;
      transition: opacity 0.3s;
      cursor: pointer;
      &:hover { opacity: 1; color: #60a5fa; }
    }
  }
}